---
import img1 from '../images/illustration-hero.svg';
import img2 from '../images/icon-music.svg';

---

<div class="bg-pvpblue rounded-lg md:shadow-xl">
    <img src={img1.src} class="rounded-t-lg" alt="">
    <div class="px-8 py-5 gap-4 flex flex-col text-center items-center">
        <h1 class="text-pdblue font-bold text-xl">Order Summary</h1>
        <p class="text-pdblue text-sm font-thin">You can now listen to millions of songs, audiobooks, and podcast on any device anywhere you like!</p>
        <div class="bg-ppblue/50 flex justify-between items-center text-xs px-4 py-3 rounded-lg w-full">
            <div class="flex items-center gap-2 text-pdblue">
                <img class="size-9" src={img2.src} alt="">
                <div class="flex flex-col gap-1">
                    <p class="font-bold">Annual Plan</p>
                    <p>$59.99/year</p>
                </div>
            </div>
            <a class="underline hover:no-underline transition duration-500" href="#">Change</a>
        </div>
        <button class="transition duration-500 shadow-xl hover:bg-pbblue/70 w-full bg-pbblue text-pvpblue py-3 text-xs font-bold rounded-xl">Proceeed to Payment</button>
        <a class="w-max text-sm font-thin transition duration-500 hover:text-pdblue hover:font-bold" href="#">Cancel Order</a>
    </div>
</div>